## Local test result 
### First 100 tasks for yelp 
1. baseline result

Baseline result.

![baseline](yelp_100_baseline.png)

2. version 1.0

We generate user style and add it into prompt for generating reviews and stars.
![user style](yelp_100_user.png)